openapi: 3.0.3
info:
  title: vos360 media lite public API
  description: |-
    This is the public API to configure, operate and monitor the VOS360-Lite.  The API is organized in categories.  They are:

    - LiveEvents
    - Notification
    - origin-engine
    
  termsOfService: https://www.vos360medialite.video/terms/
  contact:
    email: vos360medialite_api@vos360.video
  license:
    name: vos360medialite
    url: https://www.vos360medialite.video/licenses/LICENSE-1.0.html
  version: 1.0.0
externalDocs:
  description: vos360 media lite Documentation
  url: https://www.vos360medialite.video/doc
servers: 
  - url: https://www.vos360medialite.video/api
tags:
  - name: liveEvents
  - name: notification
  - name: origin-engine

paths:
  /live/v1/channels:
    get:
      summary: List all the live Channels
      tags:
        - liveEvents
      description: list all the live Channels
      operationId: listLiveChannels
      parameters:
        - in: query
          name: id
          schema:
            type: string
            format: uuid
        - in: query
          name: name
          schema:
            type: string
        - in: query
          name: controlState
          schema:
            type: string
            enum:
            - Online
            - Offline
        - in: query
          name: operationState
          schema:
            type: string
            enum:
            - Stopped
            - Allocating
            - Error
            - Running
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                description: list of Channels with status
                readOnly: true
                items:
                  type: object
                  properties:
                    id: 
                      type: string
                      format: uuid
                    name:
                      type: string
                      example: Company Town Hall
                    controlState:
                      type: string
                      example: Activated
                      enum:
                      - Online
                      - Offline
                    operationState:
                      type: string
                      example: On
                      enum:
                      - Stopped
                      - Allocating
                      - Running
                      - Error
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - vos360lite_auth:
          - write:live
          - read:live
    post:
      summary: Create a live Channel
      tags:
        - liveEvents
      description: create a live Channel
      operationId: createLiveChannel
      requestBody:
        description: Create a new live Channel
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/liveEvent'
        required: true
      responses:
        '201':
          description: Live Channel Created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/liveEvent'
                  - $ref: '#/components/schemas/DestinationUrls'    
        '401':
          description: Unauthorized
        '403':
          description: Forbidden   
        '405':
          description: Invalid input
      security:
        - vos360lite_auth:
            - write:live
            - read:live
  /live/v1/channels/{id}:
    get:
      summary: Find live Channel by ID
      tags:
        - liveEvents
      description: Returns a single live Channel
      operationId: getLiveChannelById
      parameters:
        - name: id
          in: path
          description: ID of live Channel to return
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/liveEvent'          
        '400':
          description: Invalid ID supplied
        '401':
          description: Unauthorized
        '403':
          description: Forbidden   
        '404':
          description: live Channel not found
      security:
        - vos360lite_auth:
            - write:live
            - read:live
    put:
      summary: Updates a live Channel
      tags:
        - liveEvents
      description: Updates a single live Channel
      operationId: updateLiveChannelById
      parameters:
        - name: id
          in: path
          description: ID of live Chaneel to return
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Create a new live Channel
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/liveEvent'
      responses:
        '200':
          description: successful operation
        '400':
          description: Invalid Id value
        '401':
          description: Unauthorized
        '403':
          description: Forbidden   
        '404':
          description: live Channel not found
        '405':
          description: Invalid input
      security:
        - vos360lite_auth:
            - write:live
            - read:live
    delete:
      summary: Deletes a live Channel
      tags:
        - liveEvents
      description: delete a live Channel
      operationId: deleteLiveChannel
      parameters:
        - name: id
          in: path
          description: ID of live to return
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
        '400':
          description: Invalid Id value
        '401':
          description: Unauthorized
        '403':
          description: Forbidden   
        '404':
          description: liveEventChannel not found
      security:
        - vos360lite_auth:
            - write:live
            - read:live
  /live/v1/channels/{id}/playback:
    get:
      summary: Live Channel Playback URLs
      tags:
        - liveEvents
      description: Returns a URL endpoints of a liveChannel
      operationId: getLiveChannelPlaybackUrlById
      parameters:
        - name: id
          in: path
          description: ID of live Channel to return
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Channel'  
                - $ref: '#/components/schemas/DestinationUrls'          
        '400':
          description: Invalid ID supplied
        '401':
          description: Unauthorized
        '403':
          description: Forbidden   
        '404':
          description: live Event not found
      security:
      - vos360lite_auth:
          - write:live
          - read:live
  /live/v1/events:
    get:
      summary: List of all events
      tags:
        - liveEvents
      description: list all events
      operationId: listEvents
      parameters:
        - in: query
          name: name
          schema:
            type: string
        - in: query
          name: id
          schema:
            type: string
            format: uuid
        - in: query
          name: state
          schema:
            type: string
            enum:
            - Offline
            - Allocating
            - Prepare
            - Live
            - Finished
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                description: list of events with status
                readOnly: true
                items:
                  type: object
                  properties:
                    id: 
                      type: string
                      format: uuid
                    name:
                      type: string
                      example: Keynote
                    state:
                      type: string
                      example: On
                      enum:
                      - Offline
                      - Allocating
                      - Prepare
                      - Live
                      - Finished
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - vos360lite_auth:
            - write:live
            - read:live
    post:
      summary: Create an event
      tags:
        - liveEvents
      description: create an event
      operationId: createEvent
      requestBody:
        description: Create a new event 
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/eventScheduler'
        required: true
      responses:
        '201':
          description: Event Created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/eventScheduler'
                  - $ref: '#/components/schemas/DestinationUrls'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden   
        '405':
          description: Invalid input
      security:
        - vos360lite_auth:
            - write:live
            - read:live
  /live/v1/events/{id}:
    get:
      summary: Find event by ID
      tags:
        - liveEvents
      description: Returns a single event
      operationId: getEventById
      parameters:
        - name: id
          in: path
          description: ID of event to return
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eventScheduler'          
        '400':
          description: Invalid ID supplied
        '401':
          description: Unauthorized
        '403':
          description: Forbidden   
        '404':
          description: Event not found
      security:
        - vos360lite_auth:
            - write:live
            - read:live
    put:
      summary: Updates an event
      tags:
        - liveEvents
      description: Updates a single event
      operationId: updateEventById
      parameters:
        - name: id
          in: path
          description: ID of event to return
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: modify an event
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/eventScheduler'
      responses:
        '200':
          description: successful operation
        '400':
          description: Invalid eventId value
        '401':
          description: Unauthorized
        '403':
          description: Forbidden   
        '404':
          description: event not found
        '405':
          description: Invalid input
      security:
        - vos360lite_auth:
            - write:live
            - read:live
    delete:
      summary: Deletes an event
      tags:
        - liveEvents
      description: delete an event
      operationId: deleteEvent
      parameters:
        - name: id
          in: path
          description: ID of event to return
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
        '400':
          description: Invalid eventId value
        '401':
          description: Unauthorized
        '403':
          description: Forbidden   
        '404':
          description: event not found
      security:
        - vos360lite_auth:
            - write:live
            - read:live
  /live/v1/events/{id}/playback:
    get:
      summary: Event Playback URLs
      tags:
        - liveEvents
      description: Returns a URL endpoints of an event
      operationId: getEventPlaybackUrlById
      parameters:
        - name: id
          in: path
          description: ID of Event to return
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Event' 
                - $ref: '#/components/schemas/DestinationUrls'          
        '400':
          description: Invalid ID supplied
        '401':
          description: Unauthorized
        '403':
          description: Forbidden   
        '404':
          description: event not found
      security:
        - vos360lite_auth:
            - write:live
            - read:live
  /notification/v1/settings:
    get:
      summary: Notification webhook setting
      tags:
        - notification
      description: returns the notification settings
      operationId: getNotificationSetting
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationSettings'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - vos360lite_auth:
            - write:live
            - read:live
    put:
      summary: Update notification settings
      tags:
        - notification
      description: returns the notification settings
      operationId: updateNotificationSettings
      requestBody:
        description: Update notification settings
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationSettings'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationSettings'          
        '401':
          description: Unauthorized
        '403':
          description: Forbidden   
        '405':
          description: Invalid input
      security:
        - vos360lite_auth:
            - write:live
            - read:live
  /live/v1/settings:
    get:
      summary: Get live event app settings
      tags:
        - liveEvents
      description: returns the live settings
      operationId: getLiveSettings
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                description: liveEvents app settings
                properties:
                  concurrentLiveEventSoftLimit:
                    type: integer
                    example: 100
                    readOnly: true
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - vos360lite_auth:
            - write:live
            - read:live
    put:
      summary: Update liveEvents settings
      tags:
        - liveEvents
      description: returns the liveEvents settings
      operationId: updateLiveEventSettings
      requestBody:
        description: Update LiveEvent settings
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LiveEventsSettings'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveEventsSettings'          
        '401':
          description: Unauthorized
        '403':
          description: Forbidden   
        '405':
          description: Invalid input
      security:
        - vos360lite_auth:
            - write:live
            - read:live
  /origin-engine/v1/streamingEndpoint:
    get:
      summary: Get origin streaming endpoint related to streaming units reserved
      tags:
        - origin-engine
      description: returns the streaming capacity reservation
      operationId: getStreamingEndpointReservedUnits
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/originEndpoint'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - vos360lite_auth:
          - write:live
          - read:live
    put:
      summary: Updates the origin endpoint related to capacity reservation
      tags:
        - origin-engine
      description: Updates the origin endpoint config
      operationId: updateOriginEndpoint
      requestBody:
        description: modify the origin endpoint config
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/originEndpoint'
      responses:
        '200':
          description: successful operation
        '401':
          description: Unauthorized
        '403':
          description: Forbidden   
        '405':
          description: Invalid input
      security:
        - vos360lite_auth:
            - write:liveEvent
            - read:liveEvent
components:
  schemas:
    liveEvent:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 34fd01fc-fee6-11ed-be56-0242ac120002
          readOnly: true
        name:
          type: string
          description: simple name of the liveEvent
          example: College Football 
        controlState:
          type: string
          description: liveEvent Control State
          example: Online
          enum:
            - Online
            - Offline
        operationState:
          type: string
          description: liveEvent Operation State
          example: On
          readOnly: true
          enum:
            - Offline
            - Allocating
            - Error
            - Running
        ingest:
          type: object
          description: liveEvent ingest object
          properties:
            inputMonitor:
              type: object
              readOnly: true
              properties:
                srtUrl:
                  type: string
                  format: url
                  readOnly: true
                webrtcUrl:
                  type: string
                  format: url
                  readOnly: true
            input:
              type: object
              description: liveEvent inputs, failover from primary to backup is triggered by loss of input.  auto-revert back to primary input
              properties:
                protocol:
                  type: string
                  description: liveEvent input protocol
                  example: srt
                  enum:
                    - srt
                    - rtmp
                protocolParameters:
                  type: object
                  description: protocol specifics
                  properties:
                    encryptionMode:
                      type: string
                      description: SRT AES encryption modes
                      example: AES128
                      enum:
                        - NONE
                        - AES128
                        - AES192
                        - AES256
                    passphrase:
                      type: string
                      description: passphrase of SRT encryption
                    streamKey:
                      type: string
                      description: rtmp streamKey                    
                multiBitrate:
                  type: object
                  description: object to store config for multi-bitrate input
                  properties:
                    enableMultibitrate:
                      type: boolean
                      example: false
                    numberOfProfiles:
                      type: integer
                      example: 3
                      minimum: 2
                      maximum: 20
                primaryInputUrl:
                      type: string
                      format: url
                      description: URL for primary input
                      readOnly: true
                backupInputUrl:
                      type: string
                      format: url
                      description: URL for backup input
                      readOnly: true
              required: [protocol]
        liveChannelTranscode:
          type: object
          description: object to store the transcoding profile configuration
          properties:
            liveChannelTranscodeProfile:
              type: string
              description: the encoding profile for this liveEvent
              example: Standard
              enum:
              - Standard
              - Premium
              - Passthrough
            liveTranscription:
              type: object
              description: speech to text transcription to insert to CEA608/708
              properties:
                enableLiveTranscription:
                  type: boolean
                  example: true
                language:
                  type: string
                  example: eng
            inputLossSlate:
              type: object
              description: slate image to cover the screen when input signal loss when transcoding is in used
              properties:
                enableInputLossSlate:
                  type: boolean
                  example: true
                imageUrl:
                  type: string
                  format: url
          required: [liveEventTranscodeProfile]
        liveChannelDestinationProfile:
          type: object
          description: multiple packaging profile configuration
          properties:
            output:
              type: array
              description: list of packages profile configuration
              items:
                type: object
                description: each output is a package
                properties:
                  destinationOutputId:
                    type: string
                    format: uuid
                    readOnly: true
                  encryptionMethod:
                    type: string
                    example: CENC 
                    enum:
                    - Clear
                    - AES
                    - Fairplay
                    - CENC
                  drmDatapathConfig:
                    type: string
                    example: CBC
                    enum:
                      - CBC
                      - CTR
                  package:
                    type: string
                    example: cmaf-dash
                    enum:
                      - cmaf-hls
                      - cmaf-dash
                      - hls-ts
                      - dash
                      - ll-hls
                      - dash-ll
                      - hss
                  embeddedSubtitle:
                    type: string
                    example: webvtt
                    enum:
                      - webvtt
                      - imsc1
                required: [package,encryptionMethod]
        addOns:
          type: object
          description: addon for optional features
          properties:
            drmAddon: 
              type: object
              description: channel level configuration such as resource Id used for DRM
              properties:
                cmaf-hls-resourceId:
                  type: string
                  description: resource Id for cmaf-hls packaging output with DRM
                cmaf-dash-resourceId:
                  type: string
                  description: resource Id for cmaf-dash packaging output with DRM
                hls-ts-resourceId:
                  type: string
                  description: resource Id for hls-ts packaging output with DRM
                dash-resourceId:
                  type: string
                  description: resource Id for dash packaging output with DRM
                llhls-resourceId:
                  type: string
                  description: resource Id for low latency HLS packaging output with DRM
                dashll-resourceId:
                  type: string
                  description: resource Id for dash low latency packaging output with DRM
                hss-resourceId:
                  type: string
                  description: resource Id for http smooth streaming packaging output with DRM
            logoAddon:
              type: object
              description: object to store logo for overlay on video
              properties:
                imageUrl:
                  type: string
                  format: url
                  description: url to download the logo png image
                placement:
                  type: string
                  enum:
                    - BOTTOM_LEFT
                    - BOTTOM_RIGHT
                    - TOP_RIGHT
                    - TOP_LEFT
                horizontalOffset:
                  type: integer
                  description: horizontal offset relative to placement in pixel
                verticalOffset:
                  type: integer
                  description: veritcal offset relative to placement in pixel
    eventScheduler:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 34fd01fc-fee6-11ed-be56-0242ac120002
          readOnly: true
        name:
          type: string
          description: simple name of the event
          example: Keynote
        state:
          type: string
          description: event state
          example: Ready
          readOnly: true
          enum:
            - Ready
            - Unavailable
        startTime:
          type: string
          format: datetime
          example: "2023-04-1T12:23:00+0000"
        endTime:
          type: string
          format: datetime
          example: "2023-04-1T15:33:00+0000"        
        liveChannelId:
          type: string
          format: uuid
      required: [startTime,endTime,liveChannelId,name]
    Channel:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
    Event:  
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
    DestinationUrls:
      type: object
      properties:
        playbackUrls:
          type: object
          description: list of URLs
          properties:
            cdnUrls:
              type: object
              description: list of CDN URL endpoints
              properties:
                cmafDashUrl:
                  type: string
                  format: url
                  description: CDN url for cmaf dash output
                cmafHlsUrl:
                  type: string
                  format: url
                  description: CDN url for cmaf hls output
                hlsTsUrl:
                  type: string
                  format: url
                  description: CDN url for hls ts output
                dashUrl:
                  type: string
                  format: url
                  description: CDN url for dash output
                ssUrl:
                  type: string
                  format: url
                  description: CDN url for http smooth streaming output
                llHlsUrl:
                  type: string
                  format: url
                  description: CDN url for low latency HLS output
                dashLlUrl:
                  type: string
                  format: url
                  description: CDN url for dash low latency output
                  readOnly: true
            originUrls:
              type: object
              description: list of Origin URL endpoints
              properties:
                cmafDashUrl:
                  type: string
                  format: url
                  description: Origin url for cmaf dash output
                  readOnly: true
                cmafHlsUrl:
                  type: string
                  format: url
                  description: Origin url for cmaf hls output
                  readOnly: true
                hlsTsUrl:
                  type: string
                  format: url
                  description: Origin url for hls ts output
                  readOnly: true
                dashUrl:
                  type: string
                  format: url
                  description: Origin url for dash output
                  readOnly: true
                ssUrl:
                  type: string
                  format: url
                  description: Origin url for http smooth streaming output
                  readOnly: true
                llHlsUrl:
                  type: string
                  format: url
                  description: Origin url for low latency HLS output
                  readOnly: true
                dashLlUrl:
                  type: string
                  format: url
                  description: Origin url for dash low latency output
                  readOnly: true
    notificationHistory:
      type: object
      properties:
        history:
          type: array
          description: list of notifications in the past 24 hours
          items:
            type: object
            readOnly: true
            properties:
              notificationId:
                type: string
                format: uuid
                readOnly: true
              liveEventChannelId:
                type: string
                format: uuid
                readOnly: true
              liveEventChannelName:
                type: string
                readOnly: true
                example: college football match 1
              message:
                type: string
                maxLength: 1024
                example: operation state change from 'Deploy' to 'On'
                readOnly: true
              noficationDateTime:
                type: string
                format: date-time
                readOnly: true
    LiveEventsSettings:
      type: object
      description: liveEvents app settings
      properties:
        concurrentLiveEventSoftLimit:
          type: integer
          example: 100
          readOnly: true
    NotificationSettings:
      type: object
      description: setting webhook url for notification
      properties:
        NotificationsWebhook:
          type: object
          properties:
            url:
              type: string
              format: url
            customHeader:
              type: string
    originEndpoint:
      type: object
      properties:
        streamingUnits:
          type: object
          properties:
            count:
              type: integer
              description: the number of streaming units configured
              example: 2
              minimum: 0
              maximum: 100
  requestBodies:
    liveEventRequest:
      description: liveEvent object that needs to be added
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/liveEvent'
    eventScheduleRequest:
      description: event object that needs to be added
      content:
         application/json:
          schema:
            $ref: '#/components/schemas/eventScheduler'
  securitySchemes:
    vos360lite_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://vos360lite.vos360.video/oauth/authorize
          scopes:
            write:liveEvent: modify liveEvents
            read:liveEvent: read your liveEvents
