openapi: 3.0.3
info:
  title: vos360 media lite public API
  description: |-
    This is the public API to configure, operate and monitor the VOS360-Lite.  The API is organized in categories.  They are:

    - Live
    - Notification
    - origin-engine
    
  termsOfService: https://www.vos360medialite.video/terms/
  contact:
    email: vos360medialite_api@vos360.video
  license:
    name: vos360medialite
    url: https://www.vos360medialite.video/licenses/LICENSE-1.0.html
  version: 1.0.0
externalDocs:
  description: vos360 media lite Documentation
  url: https://www.vos360medialite.video/doc
servers: 
  - url: https://www.vos360medialite.video/api
tags:
  - name: live
  - name: notification
  - name: origin-engine
paths:
  /live/v1/events:
    get:
      summary: List all the live Events
      tags:
        - live
      description: list all the live Events
      operationId: listLiveEvents
      parameters:
        - in: query
          name: id
          schema:
            type: string
            format: uuid
        - in: query
          name: name
          schema:
            type: string
        - in: query
          name: state
          schema:
            type: string
            enum:
            - Offline
            - Allocating
            - Preview
            - Error
            - Live
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                description: list of liveEvent with status
                readOnly: true
                items:
                  type: object
                  properties:
                    id: 
                      type: string
                      format: uuid
                    name:
                      type: string
                      example: Company Town Hall
                    state:
                      type: string
                      example: Preview
                      enum:
                      - Offline
                      - Allocating
                      - Preview
                      - Live
                      - Ended
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - vos360lite_auth:
          - write:live
          - read:live
    post:
      summary: Create a live Event
      tags:
        - live
      description: create a live Event
      operationId: createLiveEvent
      requestBody:
        description: Create a new live Event
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/liveEvent'
                - $ref: '#/components/schemas/EventTimes'
        required: true
      responses:
        '201':
          description: Live Event Created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/liveEvent'
                  - $ref: '#/components/schemas/EventTimes'
                  - $ref: '#/components/schemas/DestinationUrls'    
        '401':
          description: Unauthorized
        '403':
          description: Forbidden   
        '405':
          description: Invalid input
      security:
        - vos360lite_auth:
            - write:live
            - read:live
  /live/v1/events/{id}:
    get:
      summary: Show a live Event details
      tags:
        - live
      description: list a live Event
      operationId: listLiveEvent
      parameters:
        - name: id
          in: path
          description: live event Id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Live Event Details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/liveEvent'
                  - $ref: '#/components/schemas/EventTimes'
                  - $ref: '#/components/schemas/DestinationUrls'    
        '401':
          description: Unauthorized
        '403':
          description: Forbidden   
        '405':
          description: Invalid input
      security:
        - vos360lite_auth:
            - write:live
            - read:live
    put:
      summary: Update a live Event
      tags:
        - live
      description: update a live Event
      operationId: updateLiveEvent
      parameters:
        - name: id
          in: path
          description: live event Id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Update a live Event
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/liveEvent'
                - $ref: '#/components/schemas/EventTimes'
        required: true
      responses:
        '200':
          description: Live Event Updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/liveEvent'
                  - $ref: '#/components/schemas/EventTimes'
                  - $ref: '#/components/schemas/DestinationUrls'    
        '401':
          description: Unauthorized
        '403':
          description: Forbidden   
        '405':
          description: Invalid input
      security:
        - vos360lite_auth:
            - write:live
            - read:live
    delete:
      summary: Delete a live Event
      tags:
        - live
      description: delete a live Event
      operationId: deleteLiveEvent
      parameters:
        - name: id
          in: path
          description: live event Id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Live Event Deleted
        '401':
          description: Unauthorized
        '403':
          description: Forbidden   
        '405':
          description: Invalid input
      security:
        - vos360lite_auth:
            - write:live
            - read:live   
  /live/v1/events/{id}/offline:
    put:
      summary: Action to offline the live event with id
      tags:
        - live
      description: offline the live event
      operationId: offlineLiveEvent
      parameters:
        - name: id
          in: path
          description: live event Id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Live Event Offline Success
        '401':
          description: Unauthorized
        '403':
          description: Forbidden   
        '405':
          description: Invalid input
        '422':
          description: Unprocessable Entity.  e.g. Not at Preview state
      security:
        - vos360lite_auth:
            - write:live
            - read:live      
  /live/v1/events/{id}/preview:
    put:
      summary: Action to preview the live event with id
      tags:
        - live
      description: preview the live event
      operationId: previewLiveEvent
      parameters:
        - name: id
          in: path
          description: live event Id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Live Event Preview Success
        '401':
          description: Unauthorized
        '403':
          description: Forbidden   
        '405':
          description: Invalid input
        '422':
          description: Unprocessable Entity.  e.g. Not at Offline state
      security:
        - vos360lite_auth:
            - write:live
            - read:live 
  /live/v1/events/{id}/goLive:
    put:
      summary: Action to goLive the live event with id
      tags:
        - live
      description: goLive the live event
      operationId: goLiveLiveEvent
      parameters:
        - name: id
          in: path
          description: live event Id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Live Event goLive Success
        '401':
          description: Unauthorized
        '403':
          description: Forbidden   
        '405':
          description: Invalid input
        '422':
          description: Unprocessable Entity.  e.g. Not at Preview state
      security:
        - vos360lite_auth:
            - write:live
            - read:live 
  /live/v1/events/{id}/end:
    put:
      summary: Action to end the live event with id
      tags:
        - live
      description: End the live event
      operationId: endLiveEvent
      parameters:
        - name: id
          in: path
          description: live event Id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Live Event End Success
        '401':
          description: Unauthorized
        '403':
          description: Forbidden   
        '405':
          description: Invalid input
        '422':
          description: Unprocessable Entity.  e.g. Not at Live state
      security:
        - vos360lite_auth:
            - write:live
            - read:live 
  /live/v1/events/{id}/insertSlate:
    put:
      summary: Action to insert Slate image to the live event with id
      tags:
        - live
      description: insert slate to the live event
      operationId: insertSlateLiveEvent
      parameters:
        - name: id
          in: path
          description: live event Id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Live Event Insert Slate Success
        '401':
          description: Unauthorized
        '403':
          description: Forbidden   
        '405':
          description: Invalid input
        '422':
          description: Unprocessable Entity.  e.g. No slate to insert
      security:
        - vos360lite_auth:
            - write:live
            - read:live 
  /live/v1/events/{id}/removeSlate:
    put:
      summary: Action to remove Slate image to the live event with id
      tags:
        - live
      description: remove slate to the live event
      operationId: removeSlateLiveEvent
      parameters:
        - name: id
          in: path
          description: live event Id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Live Event Remove Slate Success
        '401':
          description: Unauthorized
        '403':
          description: Forbidden   
        '405':
          description: Invalid input
        '422':
          description: Unprocessable Entity.  e.g. No slate to remove
      security:
        - vos360lite_auth:
            - write:live
            - read:live 
  /notification/v1/settings:
    get:
      summary: Notification webhook setting
      tags:
        - notification
      description: returns the notification settings
      operationId: getNotificationSetting
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationSettings'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - vos360lite_auth:
            - write:live
            - read:live
    put:
      summary: Update notification settings
      tags:
        - notification
      description: returns the notification settings
      operationId: updateNotificationSettings
      requestBody:
        description: Update notification settings
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationSettings'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationSettings'          
        '401':
          description: Unauthorized
        '403':
          description: Forbidden   
        '405':
          description: Invalid input
      security:
        - vos360lite_auth:
            - write:live
            - read:live
  /live/v1/settings:
    get:
      summary: Get live event app settings
      tags:
        - live
      description: returns the live settings
      operationId: getLiveSettings
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                description: live app settings
                properties:
                  concurrentLiveEventSoftLimit:
                    type: integer
                    example: 100
                    readOnly: true
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - vos360lite_auth:
            - write:live
            - read:live
    put:
      summary: Update liveEvents settings
      tags:
        - live
      description: returns the liveEvents settings
      operationId: updateLiveEventSettings
      requestBody:
        description: Update Live settings
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LiveEventsSettings'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveEventsSettings'          
        '401':
          description: Unauthorized
        '403':
          description: Forbidden   
        '405':
          description: Invalid input
      security:
        - vos360lite_auth:
            - write:live
            - read:live
  /origin-engine/v1/streamingEndpoint:
    get:
      summary: Get origin streaming endpoint related to streaming units reserved
      tags:
        - origin-engine
      description: returns the streaming capacity reservation
      operationId: getStreamingEndpointReservedUnits
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/originEndpoint'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - vos360lite_auth:
          - write:live
          - read:live
    put:
      summary: Updates the origin endpoint related to capacity reservation
      tags:
        - origin-engine
      description: Updates the origin endpoint config
      operationId: updateOriginEndpoint
      requestBody:
        description: modify the origin endpoint config
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/originEndpoint'
      responses:
        '200':
          description: successful operation
        '401':
          description: Unauthorized
        '403':
          description: Forbidden   
        '405':
          description: Invalid input
      security:
        - vos360lite_auth:
            - write:medialite
            - read:medialite
  /origin-engine/v1/dynamicPackaging:
    get:
      summary: Get the list of dynamic packaging config
      tags:
        - origin-engine
      description: Dynamic Packaging is Package on the Fly (POTF) of multi-bitrate content to streaming formats.  It is tight to a storage account where mp4 or ismv files are located.  Each dynamic packaging configuration can have an account and packaging format/DRM configured.
      operationId: getDynamicPackagingConfigs
      parameters:
        - in: query
          name: id
          schema:
            type: string
            format: uuid
        - in: query
          name: name
          schema:
            type: string
        - in: query
          name: state
          schema:
            type: string
            enum:
            - Online
            - Offline
            - Error
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                description: list of dynamic packaging with status
                readOnly: true
                items:
                  type: object
                  properties:
                    id: 
                      type: string
                      format: uuid
                    name:
                      type: string
                      example: College Football Events Archive
                    state:
                      type: string
                      example: Online
                      enum:
                      - Online
                      - Offline
                      - Error
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - vos360lite_auth:
          - write:medialite
          - read:medialite
    post:
      summary: Create dynamic packaging config
      tags:
        - origin-engine
      description: Dynamic Packaging is Package on the Fly (POTF) of multi-bitrate content to streaming formats.  It is tight to a storage account where mp4 or ismv files are located.  Each dynamic packaging configuration can have an account and packaging format/DRM configured.
      operationId: createDynamicPackagingConfigs
      requestBody:
        description: Create a new dynamic packaging
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/DynamicPackaging'

        required: true
      responses:
        '201':
          description: Dynamic Packaging Created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/DynamicPackaging'
                  - $ref: '#/components/schemas/DestinationUrls'    
        '401':
          description: Unauthorized
        '403':
          description: Forbidden   
        '405':
          description: Invalid input
      security:
        - vos360lite_auth:
            - write:medialite
            - read:medialite  
  /origin-engine/v1/dynamicPackaging/{id}:
    get:
      summary: list dynamic packaging details
      tags:
        - origin-engine
      description: list dynamic packaging
      operationId: listDynamicPackaging
      parameters:
        - name: id
          in: path
          description: Dynamic Packaging Id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Dynamic Packaging Details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/DynamicPackaging'
                  - $ref: '#/components/schemas/DestinationUrls'    
        '401':
          description: Unauthorized
        '403':
          description: Forbidden   
        '405':
          description: Invalid input
      security:
        - vos360lite_auth:
            - write:medialite
            - read:medialite
    put:
      summary: Update Dyanmic Packaging
      tags:
        - origin-engine
      description: update Dynamic Packaging
      operationId: updateDynamicPackaging
      parameters:
        - name: id
          in: path
          description: Dynamic Packaging Id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: Update Dynamic Packaging
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/DynamicPackaging'
        required: true
      responses:
        '200':
          description: Dynamic Packaging Updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/DynamicPackaging'
                  - $ref: '#/components/schemas/DestinationUrls'    
        '401':
          description: Unauthorized
        '403':
          description: Forbidden   
        '405':
          description: Invalid input
      security:
        - vos360lite_auth:
            - write:medialite
            - read:medialite
    delete:
      summary: Delete a Dynamic Packaging
      tags:
        - origin-engine
      description: delete a Dynamic Packaging
      operationId: deleteDynamicPackaging
      parameters:
        - name: id
          in: path
          description: Dynamic Packaging Id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Dynamic Packaging Deleted
        '401':
          description: Unauthorized
        '403':
          description: Forbidden   
        '405':
          description: Invalid input
      security:
        - vos360lite_auth:
            - write:medialite
            - read:medialite
  /origin-engine/v1/dynamicPackaging/{id}/offline:
    put:
      summary: Action to offline the Dynamic Packaging by id
      tags:
        - origin-engine
      description: offline the Dynamic Packaging
      operationId: offlineDynamicPackaging
      parameters:
        - name: id
          in: path
          description: Dynamic Packaging Id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Dynamic Packaging Offline Success
        '401':
          description: Unauthorized
        '403':
          description: Forbidden   
        '405':
          description: Invalid input
        '422':
          description: Unprocessable Entity.  e.g. Not at Online state
      security:
        - vos360lite_auth:
            - write:medialite
            - read:medialite    
  /origin-engine/v1/dynamicPackaging/{id}/online:
    put:
      summary: Action to online the Dynamic Packaging by id
      tags:
        - origin-engine
      description: online the Dynamic Packaging
      operationId: onlineDynamicPackaging
      parameters:
        - name: id
          in: path
          description: Dynamic Packaging Id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Dynamic Packaging Online Success
        '401':
          description: Unauthorized
        '403':
          description: Forbidden   
        '405':
          description: Invalid input
        '422':
          description: Unprocessable Entity.  e.g. Not at Offline state
      security:
        - vos360lite_auth:
            - write:medialite13
            - read:medialite    
components:
  schemas:
    liveEvent:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 34fd01fc-fee6-11ed-be56-0242ac120002
          readOnly: true
        name:
          type: string
          description: simple name of the Event
          example: College Football Final 2023
        state:
          type: string
          description: liveEvent State
          example: Preview
          readOnly: true
          enum:
            - Offline
            - Allocating
            - Preview
            - Live
            - Finished
        ingest:
          type: object
          description: liveEvent ingest object
          properties:
             input:
              type: object
              description: liveEvent Cloud Source
              properties:
                cloudSourcePipeId:
                  type: string
                  format: uuid
              required: [cloudSourceId]
        liveChannelTranscode:
          type: object
          description: object to store the transcoding profile configuration
          properties:
            liveChannelTranscodeProfile:
              type: string
              description: the encoding profile for this liveEvent
              example: Standard
              enum:
              - Standard
              - Premium
              - Passthrough
            liveTranscription:
              type: object
              description: speech to text transcription to insert to CEA608/708
              properties:
                enableLiveTranscription:
                  type: boolean
                  example: true
                language:
                  type: string
                  example: eng
            inputLossSlate:
              type: object
              description: slate image to cover the screen when input signal loss when transcoding is in used
              properties:
                enableInputLossSlate:
                  type: boolean
                  example: true
                imageUrl:
                  type: string
                  format: url
            liveSlate:
              type: object
              description: slate image to cover the screen when event is live.  Use action to trigger slate on/off
              properties:
                imageUrl:
                  type: string
                  format: url
          required: [liveEventTranscodeProfile]
        liveChannelDestinationProfile:
          type: object
          description: multiple packaging profile configuration
          properties:
            output:
              type: array
              description: list of packages profile configuration
              items:
                type: object
                description: each output is a package
                properties:
                  destinationOutputId:
                    type: string
                    format: uuid
                    readOnly: true
                  encryptionMethod:
                    type: string
                    example: CENC 
                    enum:
                    - Clear
                    - AES
                    - Fairplay
                    - CENC
                  drmDatapathConfig:
                    type: string
                    example: CBC
                    enum:
                      - CBC
                      - CTR
                  package:
                    type: string
                    example: cmaf-dash
                    enum:
                      - cmaf-hls
                      - cmaf-dash
                      - hls-ts
                      - dash
                      - ll-hls
                      - dash-ll
                      - hss
                  embeddedSubtitle:
                    type: string
                    example: webvtt
                    enum:
                      - webvtt
                      - imsc1
                required: [package,encryptionMethod]
        addOns:
          type: object
          description: addon for optional features
          properties:
            drmAddon: 
              type: object
              description: channel level configuration such as resource Id used for DRM
              properties:
                cmaf-hls-resourceId:
                  type: string
                  description: resource Id for cmaf-hls packaging output with DRM
                cmaf-dash-resourceId:
                  type: string
                  description: resource Id for cmaf-dash packaging output with DRM
                hls-ts-resourceId:
                  type: string
                  description: resource Id for hls-ts packaging output with DRM
                dash-resourceId:
                  type: string
                  description: resource Id for dash packaging output with DRM
                llhls-resourceId:
                  type: string
                  description: resource Id for low latency HLS packaging output with DRM
                dashll-resourceId:
                  type: string
                  description: resource Id for dash low latency packaging output with DRM
                hss-resourceId:
                  type: string
                  description: resource Id for http smooth streaming packaging output with DRM
            logoAddon:
              type: object
              description: object to store logo for overlay on video
              properties:
                imageUrl:
                  type: string
                  format: url
                  description: url to download the logo png image
                placement:
                  type: string
                  enum:
                    - BOTTOM_LEFT
                    - BOTTOM_RIGHT
                    - TOP_RIGHT
                    - TOP_LEFT
                horizontalOffset:
                  type: integer
                  description: horizontal offset relative to placement in pixel
                verticalOffset:
                  type: integer
                  description: veritcal offset relative to placement in pixel
    EventTimes:
      type: object
      properties:
        startTime:
          type: string
          format: datetime
          example: "2023-04-1T12:23:00+0000"
        endTime:
          type: string
          format: datetime
          example: "2023-04-1T15:33:00+0000"        
      required: [startTime,endTime]
    Channel:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
    Event:  
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
    DestinationUrls:
      type: object
      properties:
        playbackUrls:
          type: object
          description: list of URLs
          properties:
            cdnUrls:
              type: object
              description: list of CDN URL endpoints
              properties:
                cmafDashUrl:
                  type: string
                  format: url
                  description: CDN url for cmaf dash output
                cmafHlsUrl:
                  type: string
                  format: url
                  description: CDN url for cmaf hls output
                hlsTsUrl:
                  type: string
                  format: url
                  description: CDN url for hls ts output
                dashUrl:
                  type: string
                  format: url
                  description: CDN url for dash output
                ssUrl:
                  type: string
                  format: url
                  description: CDN url for http smooth streaming output
                llHlsUrl:
                  type: string
                  format: url
                  description: CDN url for low latency HLS output
                dashLlUrl:
                  type: string
                  format: url
                  description: CDN url for dash low latency output
                  readOnly: true
            originUrls:
              type: object
              description: list of Origin URL endpoints
              properties:
                cmafDashUrl:
                  type: string
                  format: url
                  description: Origin url for cmaf dash output
                  readOnly: true
                cmafHlsUrl:
                  type: string
                  format: url
                  description: Origin url for cmaf hls output
                  readOnly: true
                hlsTsUrl:
                  type: string
                  format: url
                  description: Origin url for hls ts output
                  readOnly: true
                dashUrl:
                  type: string
                  format: url
                  description: Origin url for dash output
                  readOnly: true
                ssUrl:
                  type: string
                  format: url
                  description: Origin url for http smooth streaming output
                  readOnly: true
                llHlsUrl:
                  type: string
                  format: url
                  description: Origin url for low latency HLS output
                  readOnly: true
                dashLlUrl:
                  type: string
                  format: url
                  description: Origin url for dash low latency output
                  readOnly: true
    notificationHistory:
      type: object
      properties:
        history:
          type: array
          description: list of notifications in the past 24 hours
          items:
            type: object
            readOnly: true
            properties:
              notificationId:
                type: string
                format: uuid
                readOnly: true
              liveEventChannelId:
                type: string
                format: uuid
                readOnly: true
              liveEventChannelName:
                type: string
                readOnly: true
                example: college football match 1
              message:
                type: string
                maxLength: 1024
                example: operation state change from 'Deploy' to 'On'
                readOnly: true
              noficationDateTime:
                type: string
                format: date-time
                readOnly: true
    LiveEventsSettings:
      type: object
      description: live app settings
      properties:
        concurrentLiveEventSoftLimit:
          type: integer
          example: 100
    NotificationSettings:
      type: object
      description: setting webhook url for notification
      properties:
        NotificationsWebhook:
          type: object
          properties:
            url:
              type: string
              format: url
            customHeader:
              type: string
    originEndpoint:
      type: object
      properties:
        streamingUnits:
          type: object
          properties:
            count:
              type: integer
              description: the number of streaming units configured
              example: 2
              minimum: 0
              maximum: 100
    DynamicPackaging:
      type: object
      properties:
        id: 
          type: string
          format: uuid
          example: 34fd01fc-fee6-11ed-be56-0242ac120002
          readOnly: true
        name:
          type: string
          description: simple name of the Dynamic Packaging
          example: All College Football Event Archive
        state:
          type: string
          description: Dynamic Packaging State
          example: Online
          readOnly: true
          enum:
            - Offline
            - Online
            - Error
        storage:
          description: storage account information
          type: object
          properties:
            accountName:
              type: string
              example: devstoreaccount1
            accountKey:
              type: string
              example: Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;
            BlobEndpoint:
              type: string
              example: http://127.0.0.1:10000/devstoreaccount1
        output:
          description: Dynamic Packaging Output format/drm
          type: array
          items: 
            type: object
            properties:
              destinationOutputId:
                type: string
                format: uuid
                readOnly: true
              encryptionMethod:
                type: string
                example: CENC 
                enum:
                - Clear
                - AES
                - Fairplay
                - CENC
              drmDatapathConfig:
                type: string
                example: CBC
                enum:
                  - CBC
                  - CTR
              package:
                type: string
                example: cmaf-dash
                enum:
                  - cmaf-hls
                  - cmaf-dash
                  - hls-ts
                  - dash
                  - ll-hls
                  - dash-ll
                  - hss
              embeddedSubtitle:
                type: string
                example: webvtt
                enum:
                  - webvtt
                  - imsc1
            required: [package,encryptionMethod]
  requestBodies:
    liveEventRequest:
      description: liveEvent object that needs to be added
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/liveEvent'
    eventScheduleRequest:
      description: event object that needs to be added
      content:
         application/json:
          schema:
            $ref: '#/components/schemas/EventTimes'
  securitySchemes:
    vos360lite_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://vos360lite.vos360.video/oauth/authorize
          scopes:
            write:liveEvent: modify liveEvents
            read:liveEvent: read your liveEvents
